
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roomy | A propos de...</title>
</head>
<body>
    <div> 
        <h2>A propos de...</h2>
        <p>Texte a propos de</p>
        <a href="~/">Retour à l'accueil</a>
    </div>
</body>
</html>
