@model IEnumerable<RoomyLeRetour.Models.Room>
@(
  Layout = null;
)
<div class="row">
        @foreach (var item in Model)
        {
            <p>@item.Name</p>
            <p>@item.Price</p>
        }
</div>
